@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .text-tag {
    @apply bg-teal-700 text-white px-1 whitespace-nowrap hover:bg-teal-900;
  }
}

.h-inner {
  min-height: var(--doc-height, 100vh);
}
